
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
</head>

<body class="flex justify-center items-center min-h-screen color-2">
    <div>

    
    <div class="bg-white rounded-3xl shadow-lg p-8 max-w-sm w-full">
        <h1 class="text-3xl font-bold text-center color-3">Login</h1>
        
        <form class="mt-6" action="{% url 'login' %}" method="POST" > {% csrf_token %}

            <div id="mensagem-alertas">
                {% include 'componentes/alerta_global.html' %}

            </div>
            <div class="mb-4">
                <input type="text" placeholder="Nome" required name="nome" class="w-full px-4 py-3 rounded-lg border color-5 focus:outline-none">
            </div>
            <div class="mb-4">
                <input type="password" require placeholder="Password" name="senha" class="w-full px-4 py-3 rounded-lg border color-3 focus:outline-none">
            </div>
            
            <button type="submit"  class="w-full py-3 rounded-lg bg-color-1 text-color-1 font-semibold hover:opacity-80">Entrar</button>
            <a href="{% url 'cadastra-user-loja' %}">Cadastrar</a>
        </form>
      
      
    </div>
        


    <footer class="bg-white rounded-lg shadow-sm dark:bg-gray-900 m-4">
        <div class="w-full max-w-screen-xl mx-auto p-4 ">
           
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a
                    href="https://github.com/AlanBMC" class="hover:underline">STOQ STOQ ™ </a>Licença MIT - V1</span>

        </div>
    </footer>

</div>

</body>

</html>

