{% extends 'base.html' %}
{% block title %}Cadastros{% endblock %}
 
{% block content %}
<style>
    /* Estilo padrão para os botões */
    button {
        padding: 15px 24px; /* Padding padrão */
        font-size: 20px; /* Tamanho do texto padrão */
        border-radius: 8px; /* Bordas arredondadas */
        width: 300px;
    }

    /* Para tablets (largura mínima de 768px) */
    @media (min-width: 768px) and (max-width: 1024px) {
        button {
            padding: 25px 20px; /* Aumenta o padding para tablets */
            font-size: 26px; /* Texto um pouco maior */
            width: 300px;
        }
    }

    /* Para celulares (largura máxima de 767px) */
    @media (max-width: 767px) {
        button {
            padding: 30px 40px; /* Aumenta ainda mais o padding para celulares */
            width: 300px;
            font-size: 25px; /* Texto ainda maior */
        }
    }
</style>




<div class="button-container" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    <button id="openModalBtn" class="bg-color-1 text-color-3 m-3 shadow-md hover:bg-opacity-90 transition-all">
        <i class="fas fa-plus mr-2"></i> Criar Produto
    </button>
   
    <button onclick="abrirModalCategoria()" class="bg-color-1 text-color-3 m-3 shadow-md hover:bg-opacity-90 transition-all">
        <i class="fas fa-plus mr-2"></i> Criar Categoria
    </button>
{%if is_proprietario %}
<button onclick="AbrirModalLoja()"
    class="bg-color-1 text-color-3 m-3 shadow-md hover:bg-opacity-90 transition-all">
    <i class="fas fa-plus mr-2"></i> Ver lojas
</button>
{%endif%}
   
</div>



<!-- Modal (inicialmente oculto) -->
<div id="productModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50">
    <div class="max-w-lg mx-auto bg-color-3 rounded-lg shadow-lg p-6 relative">
        <a id="closeModalBtn" class="absolute top-3 right-3 text-color-4 text-xl">&times;</a>
        
        <h2 class="text-2xl color-5 font-semibold mb-4 color-1">Criar Produto</h2>
        
        <form method="post" action="{% url 'criar_produto'%}">
            {% csrf_token %}
            
            <div class="mb-4">
                <label for="nome" class="block text-color-4 text-sm font-semibold mb-2">Nome do Produto</label>
                <input type="text" id="nome" name="nome" required
                    class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
            </div>


            <div class="flex space-x-4">
                <!-- Campo de Quantidade -->
                <div class="w-1/2">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quantidade</label>
                    <input type="number" id="quantidade" name="quantidade" required step="1" min="1"
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
                
                <!-- Campo de Tipo de Quantidade -->
                <div class="w-1/2">
                    <label for="tipo_quantidade" class="block text-color-4 text-sm font-semibold mb-2">Tipo de Quantidade</label>
                    <select id="tipo_quantidade" name="tipo_quantidade" required
                            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">

                        <option value="UN">Unidade</option>
                        <option value="L">Litro</option>
                        <option value="KG">Quilograma</option>
                        <option value="G">Grama</option>
                        <option value="PCT">Pacote</option>
                    </select>
                </div>
            </div>
            

            <div class="flex space-x-4" style="margin: 5px;">
                <!-- Campo de Quantidade -->
                <div class="w-1/2">
                    <label for="codigo_de_barras" class="block text-color-4 text-sm font-semibold mb-2">Codigo de barras</label>
                    <input type="number"  id="codigo_de_barras" name="codigo_de_barras"  step="1" min="1"
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
            
                <!-- Campo de Tipo de Quantidade -->
                <div class="w-1/2">
                    <label for="Status produto" class="block text-color-4 text-sm font-semibold mb-2">Status</label>
                    <select id="status" name="status" required
                            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">

                        <option value="Em estoque">Em estoque</option>
                        <option value="Em uso">Em uso</option>
                        
                    </select>
                </div>
            </div>
            
            <div class="flex space-x-4" style="margin: 5px;">
                <div class="mb-4" id="validadepop">
                    <label for="Validade" class="block text-color-4 text-sm font-semibold mb-2">Validade</label>
                    <input type="date" min="{{ today|date:'Y-m-d' }}"  id="validade" name="validade" required
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
                <div class="w-1/2" id="estoqueMin">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quantidade min em estoque</label>
                    <input type="number" id="estoque_min" name="estoque_min" required  step="0.001" min="1"
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
    
            </div>
            <div class="flex space-x-4" style="margin: 5px;">
    
                
                
                <!-- Categoria -->
                <div class="w-1/2">
                    <label for="Categoria" class="block text-color-4 text-sm font-semibold mb-2">Categoria</label>
                    <div class="flex items-center space-x-2">
                        <select id="Categoria" name="Categoria" required
                                class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                            {%for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria.nome}}</option>
                            {% endfor %}
                        </select>
                       
                    </div>
                </div>
            </div>
            <button type="submit"
                class="w-full bg-color-1 text-color-3 p-3 rounded-lg hover:bg-opacity-90 transition-all">
                <i class="fas fa-plus-circle mr-2"></i> Adicionar Produto
            </button>
        </form>
    </div>
</div>




<!-- Modal Categoria -->
<div id="modalCategoria" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg w-auto">
        <h2 class="text-lg font-semibold mb-4">Adicionar Categoria</h2>
        <div class="w-full p-5 mb-2">
            <label for="Categoria" class="block text-color-4 text-sm font-semibold mb-2">Categoria</label>
            <div class="flex items-center space-x-2">
                <select id="Categoria" name="Categoria" required
                    class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                    {%for categoria in categorias %}
                    <option value="{{categoria.id}}">{{categoria.nome}}</option>
                    {% endfor %}
                </select>
        
            </div>
        </div>
        <form id="formCategoria" action="{% url 'criar_categoria' %}" method="POST"> {% csrf_token %}
            <div class="mb-4">
                <label class="block text-sm font-medium">Nome da Categoria</label>
                <input type="text" name="nomeCategoria" required
                       class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <button type="submit" class="w-full  py-2 rounded-lg ">
                Salvar
            </button>
        </form>
    </div>
</div>



{%if is_proprietario %}
<div id="modalLoja" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg w-auto">
        <h2 class="text-xl font-semibold  mb-4">Ver lojas parceiras</h2>
        <form id="formLojaView" action="{%url 'update_loja_user' %}" method="POST"> {% csrf_token %}
            <div class="m-3 p-3">
                <label for="lojas" class="block text-color-4
                 text-lg font-semibold mb-2">Lojas parceiras</label>
                <select id="lojas" name="lojas" required
                    class="w-full p-5 border rounded-lg 
                    focus:outline-none focus:ring-2 focus:ring-color-1">
                    {% for loja in lojasDoUser %}
                    <option value="{{loja.id}}" class="p-3">{{loja.nome}}</option>
                    {%endfor%}
                </select>
            </div>
            <button type="submit" class="w-full  py-2 rounded-lg ">
                Salvar
            </button>
        </form>
    </div>
</div>
{%endif%}



<script>
    const openModalBtn = document.getElementById('openModalBtn');
    const closeModalBtn = document.getElementById('closeModalBtn');
    const modal = document.getElementById('productModal');


    
    // Abre o modal
    openModalBtn.addEventListener('click', () => {
        modal.classList.remove('hidden');
        modal.classList.add('flex');
        const driver = window.driver.js.driver;

        const driverObj = driver({
            showProgress: true,
            steps: [
            {element: "#validadepop",popover: {title: "Validade",description: "Cadastre as validades dos produtos para que o sistema possa notificá-lo. Recomendamos especial atenção ao cadastro de validades para frutas e verduras, devido ao curto prazo de consumo."}},
            {element: "#estoqueMin",popover: {title: "Estoque minimo",description: "A quantidade mínima que o produto deve ter em estoque é um limite estratégico para evitar rupturas. Recomendamos definir um valor que garanta tempo suficiente para repor o estoque antes que ele se esgote completamente, considerando o tempo de entrega dos fornecedores e a demanda média do produto."}},

        
                
            ]
        });
        driverObj.drive();

    });

    // Fecha o modal ao clicar no botão de fechar
    closeModalBtn.addEventListener('click', () => {
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    });

    // Fecha o modal ao clicar fora do conteúdo
    modal.addEventListener('click', (e) => {
        if (e.target === modal) {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    });

function abrirModalFornecedor() {
    document.getElementById('modalFornecedor').classList.remove('hidden');
}


function abrirModalCategoria() {
    document.getElementById('modalCategoria').classList.remove('hidden');
}
function AbrirModalLoja() {
    document.getElementById('modalLoja').classList.remove('hidden');
}
// Fechar modal ao clicar fora do formulário
window.onclick = function(event) {
    let modalFornecedor = document.getElementById('modalFornecedor');
    let modalCategoria = document.getElementById('modalCategoria');
    let modalLoja = document.getElementById('modalLoja');
    let modalTurn = document.getElementById('ModalTrun');

    if (event.target == modalFornecedor) {
        modalFornecedor.classList.add('hidden');
    }
    if (event.target == modalCategoria) {
        modalCategoria.classList.add('hidden');
    }
    if (event.target == modalLoja) {
        modalLoja.classList.add('hidden');
    }
    if (event.target == modalTurn) {
        modalTurn.classList.add('hidden');
    }
}
</script>
<script>
       const driver = window.driver.js.driver;

    const driverObj = driver({
        showProgress: true,
        steps: [
        {element: "#notificationBtn",popover: {title: "Notificação",description: "Aqui você pode ver as notificações do sistema"}},
        {element: "#botaosair",popover: {title: "Sair",description: "Aqui você pode sair do sistema"}},  
        ]
        
    });
driverObj.drive();
</script>
{% endblock %}
