<div class="mt-10 ml-6 flex items-center space-x-4">
  <button id="openModalBtn" class="bg-color-1 text-color-3 px-6 py-3 rounded-lg shadow-md hover:bg-opacity-90 transition-all">
      <i class="fas fa-plus mr-2">
      </i>
    Add movimentação
  </button>
   
  <input type="text" placeholder="Buscar Produto..." 
      class="border p-2 rounded-lg focus:ring-color-1 focus:outline-none">

  <select class="border p-2 rounded-lg">
      <option value="">Categoria</option>
      <option value="entrada">Entrada</option>
      <option value="saida">Saída</option>
  </select>
</div>