<style>
    #batchMovementModal .modal-content {
        max-width: 90vw; /* Reduz a largura máxima */
        max-height: calc(70vh - 10px); /* Ajusta a altura máxima para não ocupar toda a tela, considerando a margem */
        margin: 10px 0; /* Adiciona margem de 10px no topo e no fundo */
        display: flex;
        flex-direction: column;
        padding: 0; /* Remover padding geral */
        inset: 0;
        overflow: hidden; /* Evitar rolagem no modal principal */
        position: relative; /* Necessário para posicionar o botão de fechar */
    }
#batchMovementModal input,
#batchMovementModal select {
    width: 100%; /* Garante que os campos de entrada não forcem largura extra */
}


    /* Estilos para tablet */
    @media (max-width: 768px) {
        #batchMovementModal .modal-content {
            max-width: 60%;
            max-height: calc(80vh - 20px);
        }
      
        #batchMovementModal h2 {
            font-size: 1.2rem; /* Reduz o tamanho da fonte */
        }

        #batchMovementModal input {
            padding: 6px; /* Reduz o padding */
        }

        #batchMovementModal th, #batchMovementModal td {
            padding: 4px; /* Reduz o padding */
            font-size: 0.9rem; /* Reduz o tamanho da fonte */
        }
    }

    /* Estilos para mobile */
    @media (max-width: 480px) {
        #batchMovementModal .modal-content {
            max-width: 100%;
            max-height: calc(100vh - 20px);
        }

        #batchMovementModal h2 {
            font-size: 1rem; /* Reduz o tamanho da fonte */
        }
        button {
            margin: 5px;
        }
        #batchMovementModal input {
            padding: 4px; /* Reduz o padding */
        }
        
        #batchMovementModal th, #batchMovementModal td {
            padding: 3px; /* Reduz o padding */
            font-size: 0.8rem; /* Reduz o tamanho da fonte */
        }
    }

    /* Mantém o botão e o input fixos no topo */
    #batchMovementModal .sticky-header {
        position: sticky;
        top: 0;
        background: white;
        z-index: 10;
        padding-bottom: 10px;
    }

    /* Mantém o botão de confirmação fixo na parte inferior */
    #batchMovementModal .sticky-footer {
        position: sticky;
        bottom: 0;
        background: white;
        z-index: 10;
        padding-top: 10px;
        text-align: right;
    }

    /* Conteúdo rolável */
    #batchMovementModal .modal-body {
        overflow-y: auto;
        flex-grow: 1;
    }

    /* Estilo para o botão de fechar */
    #closeBatchModalBtn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 20;
    }

    /* Estilo da tabela */
    .table-wrapper {
        height: 500px; /* Altura da tabela com rolagem */
        overflow-y: auto; /* Rolagem vertical */
        border-bottom-width: 60px;
    }

    .table-wrapper table {
    width: 100%;
    min-width: unset; /* Remove a largura mínima fixa */
}

    .table-wrapper thead {
        position: sticky;
        top: 0;
        background: white;
        z-index: 10;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22), -1px -1px 1px rgba(0, 0, 0, 0.335);
    }

    .table-wrapper th, .table-wrapper td {
        padding: 12px;
    }

    .table-wrapper tr {
        margin-bottom: 5px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411), -1px -1px 1px rgba(0, 0, 0, 0.951);
    }

    .table-wrapper tr:hover {
        background-color: #f0f8ff; /* Cor de fundo ao passar o mouse */
    }
</style>

<div id="batchMovementModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50">
    <div class="modal-content max-w-lg mx-auto bg-color-3 rounded-lg shadow-lg p-6 relative"
    style="
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10%;
   
">
        <a id="closeBatchModalBtn" onclick="closeBatchMovementModal()" class="absolute top-3 right-3 text-gray-800 text-xl" style="cursor: pointer;">&times;</a>
        
        <div class="modal-body" style="overflow: hidden;" >
            <h1 style="color: black;" class="m-2 ml-2 justify-center">Movimento de estoque </h1>
            <form method="post" action="{% url 'cria_movimento_de_estoque_em_lote' %}" class="mt-4" style="max-width: 768px; margin: 0 auto;">
                {% csrf_token %}
                <div class="table-wrapper overflow-x-hidden m-3" style="border-bottom-width: 0px;height: 350px;">
                    <table class="w-full text-left table-auto">
                        <thead class="sticky top-0 bg-white shadow">
                            <tr class="text-gray-800">
                                <th class="py-2 w-1/12 px-2">Produto</th>
                                <th class="py-2 w-1/12 px-2">Quant. Atual</th>
                                <th class="py-2 w-1/12 px-2">Quantidade</th>
                                <th class="py-2 w-1/12 px-2">Tipo de Mov.</th>
                                <th class="py-2 w-1/12 px-2">Loja</th>
                            </tr>
                        </thead>
                        <tbody id="productTableBody">
                            {% for produto in produtos %}
                            <tr class="hover:bg-gray-100 text-gray-800 ">
                                <td class="py-2 truncate w-1/12 px-2">{{ produto.nome }}</td>
                                <td class="py-2  w-1/12 px-2">{{ produto.quantidade }}</td>
                                <td class="py-2 w-1/12  px-2">
                                    <input type="number" name="quantidades" min="0" step="0.001"
                                        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1 text-gray-800">
                                    <input type="hidden" name="produto_ids" value="{{ produto.id }}">
                                </td>
                                <td class="py-2 w-1/12 px-2">
                                    <select name="movimentos" required
                                        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1 text-gray-800">
                                        <option value="Estoque_atual">Estoque Atual</option>
                                        <option value="Transferencia">Transferência</option>
                                    </select>
                                </td>
                                <td class="py-2 w-1/12 px-2">
                                    <select id="lojaPOP" name="loja_destino_id"
                                        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1 text-gray-800">
                                        <option value="">Selecione uma loja parceira</option>
                                        {% for loja in lojas %}
                                            {% if loja.id != user.loja.id %}
                                                <option value="{{ loja.id }}">{{ loja.nome }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="sticky-footer " >
                    <button type="submit" class=" mb-2 m-2 px-4 py-2 rounded-lg">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const thElement = document.querySelector("#batchMovementModal th:nth-child(2)");
        if (thElement) {
            thElement.innerText = "Qtd Atual";
        } else {
            console.error("Elemento <th> não encontrado!");
        }
    });

    function closeBatchMovementModal() {
        const modal = document.getElementById('batchMovementModal');
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    }

    function openBatchMovementModal() {
        const modal = document.getElementById('batchMovementModal');
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }

    function filterProducts() {
        const searchValue = document.getElementById('searchProductInput').value.toLowerCase();
        const rows = document.querySelectorAll('#productTableBody tr');
        rows.forEach(row => {
            const productName = row.cells[0].innerText.toLowerCase();
            if (productName.includes(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }

    window.addEventListener('click', (e) => {
        const modal = document.getElementById('batchMovementModal');
        if (e.target === modal) {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    });
</script>