<style>
    .table-wrapper {
            height: 374px;
            overflow-y: auto; /* Rolagem vertical */
           
            position: relative;
        }
        @media (max-width: 768px) {  /* Celulares */
            .table-wrapper {
            height: 500px;
            
        }
            }
</style>

<div class="p-6 overflow-x-auto table-wrapper" style="padding-top: 0px;border-bottom-width: 0px; 
">
    <table class="w-full min-w-[400px] md:min-w-full text-left table-auto">
        <thead class="shadow-lg text-color-3 sticky top-0 bg-white z-10"> <!-- Cabeçalho fixo -->
            <tr class="hidden md:table-row shadow-lg border-color-2"
                style="margin-bottom: 5px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22), -1px -1px 1px rgba(0, 0, 0, 0.335);">
                    <th class="py-2 px-4">Produto</th>
                    <th class="py-2 px-4">Última Mov.</th>
                    <th class="py-2 px-4">Quantidade</th>
                    <th class="py-2 px-4">Categoria</th>
                    <th class="py-2 px-4">Validade</th>
                    <th class="py-2 px-4">Ações</th>
                </tr>
            </thead>
     
            <tbody>
                {% for produto in produtos %}

                <tr class="block md:table-row shadow-lg m-2 border-color-2 
                mb-4 md:mb-0 p-4 md:p-0 cursor-pointer hover:bg-blue-100 transition"
                onclick="abrirModalProdutoConsulta(
                    '{{produto.nome}}',
                    '{{produto.quantidade}}','{{produto.tipo_quantidade}}',
                    '{{produto.validade}}','{{produto.categoria.nome}}',
                    '{{produto.estoque_minimo}}', '{{produto.ultimo_movimento_data}}',
                    '{{ produto.ultimo_movimento_tipo }}', '{{ produto.ultimo_movimento_responsavel }}',
                    '{{ produto.ultimo_movimento_quantidade }}', '{{ produto.total_transferencias }}',
                    '{{ produto.total_entradas }}','{{ produto.total_saidas }}'
                    ,'{{ produto.data_criacao }}','{{ produto.data_atualizacao }}', '{{ produto.alterado_por }}')"
                    style="margin-top: 5px; 
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411), -1px -1px 1px rgba(0, 0, 0, 0.951); ">
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Produto:</span>
                        <span>{{produto.nome}}</span>
                        
                    </td>
                    <td class="py-3 px-3 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Última Mov:</span>
                        <span  >
                            {% if produto.ultimo_movimento_tipo %}
                            {{ produto.ultimo_movimento_tipo }} - {{ produto.ultimo_movimento_data|date:"d/m/Y H:i" }}
                        {% else %}
                            Nenhuma movimentação
                        {% endif %}
                        </span>
                    </td>

                   
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden mr-4 font-semibold w-1/3">Quantidade:</span>
                        <span style="padding-left: 0px;">{{produto.quantidade}} {{produto.tipo_quantidade}}</span>
                    </td>
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Categoria:</span>
                        {% if produto.categoria.nome == None%}
                            <span>Vazio</span>
                            {%else%}
                            <span>{{produto.categoria.nome}}</span>
                        {%endif %}
                    </td>
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Validade:</span>
                    <span>{{ produto.validade|date:"d/m/Y" }}</span>

                    </td>
              
                    <td class="py-3 px-4 flex md:table-cell space-x-3">
                        <div class="flex space-x-3 items-center">
                            <a type="button" id="botao-edita-produto" class="no-border text-blue-500 p-1"
                                onclick="event.stopPropagation(); abrirModalEditarProduto('{{produto.id}}',
                                '{{produto.nome}}',
                                '{{produto.quantidade}}','{{produto.tipo_quantidade}}',
                                '{{produto.validade}}','{{produto.categoria_id}}', '{{produto.estoque_minimo}}')">
                                <i class="fas fa-edit"></i>
                            </a>
                            
                            <button type="button" id="botao-excluir-produto" 
                            class="botao-excluir border-none text-red-500 p-3"
                                onclick="event.stopPropagation();  confirmarExclusao('{{ produto.id }}')">
                                <i class="fas fa-trash"></i>
                            </button>
                            
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   
</div>

<style>
    .botao-excluir:hover{
        background-color: rgba(209, 11, 11, 0.459);
    }
    .botao-excluir{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.699);
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.158);
    }
</style>
<!-- Modal (inicialmente oculto) -->
<div id="productModalEdit" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50">
    <div class="max-w-lg mx-auto bg-color-3 rounded-lg shadow-lg p-6 relative">
        <a id="closeModalBtnEditProdut" class="absolute top-3 right-3 text-color-4 text-xl" >&times;</a>
        
        <h2 class="text-2xl color-5 font-semibold mb-4 color-1">Editar Produto</h2>
        <form method="post" action="{%url 'editar_produto' %}">
            {% csrf_token %}
            
            <div class="mb-4">
                <label for="nome" class="block text-color-4 text-sm font-semibold mb-2">Nome do Produto</label>
                <input type="text" id="nomeProduto" name="nome" required
                    class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
            </div>


            <div class="flex space-x-4">
                <!-- Campo de Quantidade -->
                <div class="w-1/2">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quantidade</label>
                    <input type="number" id="quantidadeProduto" name="quantidade" required step="1"
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
            
                <!-- Campo de Tipo de Quantidade -->
                <div class="w-1/2">
                    <label for="tipo_quantidade" class="block text-color-4 text-sm font-semibold mb-2">Tipo de Quantidade</label>
                    <select id="tipo_quantidade" name="tipo_quantidade" required
                            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">

                        <option value="UN">Unidade</option>
                        <option value="L">Litro</option>
                        <option value="KG">Quilograma</option>
                        <option value="G">Grama</option>
                        <option value="PCT">Pacote</option>
                    </select>
                </div>
            </div>
            

     
          
            
            <div class="flex space-x-4" style="margin-top: 20px;">
                <div class="w-1/2">
                    <label for="Validade" class="block text-color-4 text-sm font-semibold mt-5 mb-2">Validade</label>
                    <input type="date" min="{{ today|date:'Y-m-d' }}"  id="validadeEdit" name="validade" 
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
                <div class="w-1/2">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quantidade min em estoque</label>
                    <input type="number" id="estoqueMin" name="estoque_min" 
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
    
            </div>

            <div class="flex space-x-4" style="margin-top: 20px; ">
                
               
                <!-- Categoria -->
                <div class="w-full">
                    <label for="Categoria" class="block text-color-4 text-sm  font-semibold mb-2">Categoria</label>
                    <div class="flex items-center space-x-2 mb-5">
                        <select id="Categoria" name="Categoria" required
                                class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                            {%for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria.nome}}</option>
                            {% endfor %}
                        </select>
                       
                    </div>
                </div>
            </div>
            <input type="hidden" name="produto_id" id="produtoId">
            <button type="submit"
                class="w-full bg-color-1 text-color-3 p-3 rounded-lg hover:bg-opacity-90 transition-all">
                </i> Salvar
            </button>
        </form>
    </div>
</div>


<div id="ModalProdutoConsulta" class="fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 hidden z-50">
    <div class="max-w-lg mx-auto bg-color-3 rounded-lg shadow-lg p-6 relative" style="
    margin-right: 10px;
    margin-left: 10px;
">
        <a id="closeModalBtnViewProdut" class="absolute top-3 right-3 text-color-4 text-xl" >&times;</a>
        
        <h2 class="text-2xl color-5 font-semibold mb-4 color-1">Visualizar Produto:</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="flex space-x-4 mt-6">

                <div class="w-1/2">
                    <span class="block text-color-4 text-sm font-semibold mb-2">Nome do Produto:</span>
                    <span id="nomeProdutoview" ></span>
                </div>
                <div class="w-1/2">
                    <label  class="block text-color-4 text-sm font-semibold mb-2">Quantidade Atual:</label>
                    <span id="quantidadeProdutoview"></span> - <span id="tipo_quantidadeview"></span>
                </div>
                <div class="w-1/2">
                    <label for="nome" class="block text-color-4 text-sm font-semibold mb-2">Ultimo Mov.:</label>
                    <span id="ultimoMovimentoData"></span>
                </div>
            </div>

        <div class="flex space-x-4 mt-6">


                <div class="w-1/2">
                    <label for="movresponsavelview" class="block text-color-4 text-sm font-semibold mb-2">Resp. pelo movimento:</label>
                    <span id="movresponsavelview"></span>
                </div>
                <div class="w-1/2">
                    <label for="quantidadeMovView" class="block text-color-4 text-sm font-semibold mb-2">Quantidade Movimentada:</label>
                    <div class="flex items-center space-x-2">
                        <span id="quantidademovview"></span>
                    </div>
                </div>
                <div class="w-1/2">
                    <label for="tipomovview" class="block text-color-4 text-sm font-semibold mb-2">Tipo Movimento:</label>
                    <div class="flex items-center space-x-2">
                        <span id="tipomovview"></span>
                    </div>
                </div>
        </div>

        <div class="flex space-x-4 mt-6">
            <div class="w-1/2">
                <label for="quantidadeview" class="block text-color-4 text-sm font-semibold mb-2">Quant. min. em estoque:</label>
                <span id="estoqueMinview"></span>
            </div>
            
            <div class="w-1/2">
                <label for="Validade" class="block text-color-4 text-sm font-semibold mb-2">Validade:</label>
                    <span id="validadeEditview" class="data-format"></span>
            </div>
            <div class="w-1/2">
                <label for="Categoria" class="block text-color-4 text-sm font-semibold mb-2">Categoria:</label>
                <div class="flex items-center space-x-2">
                    <span id="categoriaview"></span>
                </div>
            </div>
        </div>
        <div class="flex space-x-4 mt-6">
            <div class="w-1/2">
                <span class="block text-color-4 text-sm font-semibold mb-2">Ultima edição:</span>
                <span id="ultimaedit"></span>
            </div>
            <div class="w-1/2">
                <span class="block text-color-4 text-sm font-semibold mb-2">Criado em:</span>
                <span id="datacriacao"></span>
            </div>
            <div class="w-1/2">
                <span class="block text-color-4 text-sm font-semibold mb-2">Editado Por:</span>
                <span id="editadopor"></span>
            </div>
        </div>
        <div  class="flex space-x-4 mt-6 items-center">

            <div class="w-1/2">
                <span class="block text-color-4 text-sm font-semibold mb-2">Total Transferências</span>
                <span id="totaltransferencias"
                        class="bg-green-100 text-green-800 text-xl font-xl me-2 px-3.5 py-1.5 rounded-sm dark:bg-green-900 dark:text-green-300"></span><br>
                    </div>
        <div class="w-1/2 justify-center ">
            <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Total Entradas</label>
            <span id="totalentradas" class="bg-yellow-100 text-yellow-800 text-xl font-xl me-2 px-3.5 py-1.5 rounded-sm dark:bg-yellow-900 dark:text-yellow-300"></span>
            
        </div>
        <div class="w-1/2">
            <label for="nome" class="block text-color-4 text-sm font-semibold mb-2">Total Saidas</label>
            <span id="totalsaidas"
            class="bg-indigo-100 text-indigo-800 text-xl font-xl me-2 px-3.5 py-1.5 rounded-sm dark:bg-indigo-900 dark:text-indigo-300"></span>
        </div>
        </div>
        
    </form>
    </div>
</div>




<form id="delete-form-produto" method="post" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="produto_id" id="produto-id">
</form>

<script>
   function confirmarExclusao(produtoId) {
        if (confirm(`Tem certeza que deseja excluir o produto?`)) {
            const form = document.getElementById('delete-form-produto');
            document.getElementById('produto-id').value = produtoId;
            form.action = `/produtos_excluir/${produtoId}/`;
            form.submit();
        }
    }

    function abrirModalProdutoConsulta(nome, quantidade, tipo_quantidade, 
    validade, categoriaId,
     estoqueminimo, ultimoMovimentodata, ultimoMovimentotipo, 
     ultimoMovimentoresponsavel, 
     ultimoMovimentoquantidade,totaltransferencias, totalentradas,totalsaidas,  
     datacriacao, dataatualizao, editadopor) {
        const modal = document.getElementById('ModalProdutoConsulta');
        const nomeField = document.getElementById('nomeProdutoview');
        const quantidadeField = document.getElementById('quantidadeProdutoview');
        const tipo_quantidadeField = document.getElementById('tipo_quantidadeview');
        const validadeField = document.getElementById('validadeEditview');
        const categoria = document.getElementById('categoriaview');
        const estoquemin = document.getElementById('estoqueMinview');
        const ultimomov = document.getElementById('ultimoMovimentoData');
        const tipomov = document.getElementById('tipomovview');
        document.getElementById("datacriacao").innerText =formatarData(datacriacao)
        document.getElementById("ultimaedit").innerText = formatarData(dataatualizao)
        document.getElementById("editadopor").innerText = editadopor 
        document.getElementById('movresponsavelview').innerHTML = ultimoMovimentoresponsavel
        document.getElementById('quantidademovview').innerHTML = ultimoMovimentoquantidade
        
        const totaltras = document.getElementById('totaltransferencias');
        const totalen = document.getElementById('totalentradas');
        const totalsai = document.getElementById('totalsaidas');

        totalen.textContent = totalentradas
        totalsai.textContent =  totalsaidas
        totaltras.textContent = totaltransferencias
        tipomov.textContent = ultimoMovimentotipo
        
        if (ultimoMovimentodata == 'None'){
            ultimoMovimentodata = 'Sem movimento'
        }
        ultimomov.textContent = formatarData(ultimoMovimentodata)

        categoria.textContent = categoriaId
        validadeField.textContent = formatarData(validade)
        nomeField.textContent = nome;
        quantidadeField.textContent = quantidade;
        tipo_quantidadeField.textContent = tipo_quantidade;
        estoquemin.textContent = estoqueminimo;
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }
    function formatarData(dataTexto) {
            if (!dataTexto || dataTexto === "None") return "Sem validade"; // Se for None, retorna "Sem validade"

            // Tenta converter a data diretamente
            let dataObj = new Date(dataTexto);

            // Se for inválido, tenta converter manualmente
            if (isNaN(dataObj.getTime())) {
                try {
                    let partes = dataTexto.split(", "); // Divide a string (ex: "Feb. 11, 2025, 1:32 p.m.")
                    console.log(partes[2])
                    let dataParte = partes[0].trim(); // Pega a parte "Feb. 11, 2025"
                    let ano = partes[1]; // Pega o ano (ex: "2025")-
                    let dia = dataParte.split(" ")[1].replace(".", ""); // Remove o ponto do dia (ex: "11")
                    let hora = partes[2]
                    let mesTexto = dataParte.split(" ")[0]; // Obtém o nome do mês (ex: "Feb.")

                    // Conversão do nome do mês para número
                    const meses = {
                        "Jan.": "01", "Feb.": "02", "Mar.": "03", "Apr.": "04",
                        "May.": "05", "Jun.": "06", "Jul.": "07", "Aug.": "08",
                        "Sep.": "09", "Oct.": "10", "Nov.": "11", "Dec.": "12"
                    };

                    let mes = meses[mesTexto]; // Obtém o número do mês correspondente

                    if (!mes) return "Data inválida"; // Se não encontrar o mês, retorna erro

                    return `${dia}/${mes}/${ano} - ${hora}`;
                } catch (error) {
                    return "Data inválida"; // Retorna erro se não conseguir converter
                }
            }

            // Caso a conversão do Date() funcione corretamente
            let dia = String(dataObj.getDate()).padStart(2, '0');
            let mes = String(dataObj.getMonth() + 1).padStart(2, '0'); // Mês começa em 0
            let ano = dataObj.getFullYear();

            return `${dia}/${mes}/${ano}`;
        }

    // Função que abre o modal e preenche com os dados do produto
    function abrirModalEditarProduto( produto_id, nome, quantidade, tipo_quantidade, validade, categoria_id, estoqueminimo) {
        const modal = document.getElementById('productModalEdit');
        const modalViewProduto = document.getElementById('ModalProdutoConsulta');
        const nomeField = document.getElementById('nomeProduto');
        const produto_idField = document.getElementById('produtoId');
        const quantidadeField = document.getElementById('quantidadeProduto');
        const tipo_quantidadeField = document.getElementById('tipo_quantidade');
        const validadeField = document.getElementById('validadeEdit');
        const categoria_idField = document.getElementById('Categoria');

        const estoquemin = document.getElementById('estoqueMin');
        // Preenche os campos do modal com os valores passados
        console.log(estoqueminimo);
        nomeField.value = nome;
        quantidadeField.value = quantidade;
        produto_idField.value = produto_id;
        for (let i = 0; i < tipo_quantidadeField.options.length; i++) {
            if (tipo_quantidadeField.options[i].value === tipo_quantidade) {
                tipo_quantidadeField.options[i].selected = true;
                break;
            }
        }
       
        estoquemin.value = estoqueminimo;
        modalViewProduto.classList.add('hidden')
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }

    // Fecha o modal ao clicar no botão de fechar
    document.getElementById('closeModalBtnEditProdut').addEventListener('click', () => {
        const modal = document.getElementById('productModalEdit');
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    });
    document.getElementById('closeModalBtnViewProdut').addEventListener('click', () => {
        const modal = document.getElementById('ModalProdutoConsulta');
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    });
    // Fecha o modal ao clicar fora do conteúdo
    window.addEventListener('click', (e) => {
        const modal = document.getElementById('productModalEdit');
        if (e.target === modal) {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    });
    window.addEventListener('click', (e) => {
        const modal = document.getElementById('ModalProdutoConsulta');
        if (e.target === modal) {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    });


    function abreModalAddMovimento(nomeProduto, produtoId, quantidade){
    const modal = document.getElementById('productModalMovimento');
    modal.classList.remove('hidden');
    modal.classList.add('flex');
            // Fecha o modal ao clicar fora do conteúdo
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.classList.add('hidden');
                modal.classList.remove('flex');
            }
        });

        const nomeProdutoField = document.getElementById('nomeProdutoMovimento');
        nomeProdutoField.innerText = nomeProduto;
        const produtoid = document.getElementById('produto_id');
        produtoid.value = produtoId;
        
        const quant = document.getElementById('quantidade');
        quant.value = quantidade;

       
        

   
    }
    function fechaModalMovimento() {
        const modal = document.getElementById('productModalMovimento');
        modal.classList.remove('flex');
        modal.classList.add('hidden');
    }



    
</script>
