<style>
        .table-wrapper {
            height: 700px; /* Altura da tabela com rolagem */
            overflow-y: auto; /* Rolagem vertical */
            border-bottom-width: 60px;

        }
</style>

<div class="p-6 overflow-x-auto table-wrapper" style="border-bottom-width: 0px;">
        <table class="w-full min-w-[400px] md:min-w-full text-left table-auto" style="    margin-bottom: 80px;">
            <thead class="shadow-lg text-color-3 sticky -top-6 bg-white  z-10"> <!-- Cabeçalho fixo -->
                <tr class="hidden md:table-row shadow-lg border-color-2"
                    style="margin-bottom: 5px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22), -1px -1px 1px rgba(0, 0, 0, 0.335);">
                    <th class="py-2 px-4">Produto</th>
                    <th class="py-2 px-4">Última Mov.</th>
                    <th class="py-2 px-4">Quantidade</th>
                    <th class="py-2 px-4">Categoria</th>
                    <th class="py-2 px-4">Validade</th>
                    <th class="py-2 px-4">Ações</th>
                </tr>
            </thead>
     
            <tbody>
                {% for produto in produtos %}

                <tr class="block md:table-row shadow-lg border-color-2 mb-4 md:mb-0 p-4 md:p-0 cursor-pointer hover:bg-blue-100 transition"
                onclick="abrirModalProdutoConsulta(
                                '{{produto.nome}}',
                                '{{produto.quantidade}}','{{produto.tipo_quantidade}}',
                                '{{produto.validade}}','{{produto.categoria.nome}}',
                                '{{produto.estoque_minimo}}', '{{produto.ultimo_movimento_data}}',
                                '{{ produto.ultimo_movimento_tipo }}')"
                    style="margin-top: 5px; 
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411), -1px -1px 1px rgba(0, 0, 0, 0.951); ">
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Produto:</span>
                        <span>{{produto.nome}}</span>
                        
                    </td>
                    <td class="py-3 px-3 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Última Mov:</span>
                        <span  >
                            {% if produto.ultimo_movimento_tipo %}
                            {{ produto.ultimo_movimento_tipo }} - {{ produto.ultimo_movimento_data|date:"d/m/Y H:i" }}
                        {% else %}
                            Nenhuma movimentação
                        {% endif %}
                        </span>
                    </td>

                   
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Quantidade:</span>
                        <span style="padding-left: 0px;">{{produto.quantidade}} {{produto.tipo_quantidade}}</span>
                    </td>
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Categoria:</span>
                        <span>{{produto.categoria.nome}}</span>
                    </td>
                    <td class="py-3 px-4 flex md:table-cell">
                        <span class="md:hidden font-semibold w-1/3">Validade:</span>
                        <span>{{produto.validade}}</span>
                    </td>
              
                    <td class="py-3 px-4 flex md:table-cell space-x-3">
                        <div class="flex space-x-3 items-center">
                            <a type="button" id="botao-edita-produto" class="no-border text-blue-500 p-1"
                                onclick="abrirModalEditarProduto('{{produto.id}}',
                                '{{produto.nome}}',
                                '{{produto.quantidade}}','{{produto.tipo_quantidade}}',
                                '{{produto.validade}}','{{produto.categoria_id}}', '{{produto.estoque_minimo}}')">
                                <i class="fas fa-edit"></i>
                            </a>
                            
                            <a type="button" id="botao-excluir-produto" class="no-border text-red-500 p-1"
                                onclick="confirmarExclusao('{{ produto.id }}')">
                                <i class="fas fa-trash"></i>
                            </a>
                            
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   
</div>


<!-- Modal (inicialmente oculto) -->
<div id="productModalEdit" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50">
    <div class="max-w-lg mx-auto bg-color-3 rounded-lg shadow-lg p-6 relative">
        <a id="closeModalBtnEditProdut" class="absolute top-3 right-3 text-color-4 text-xl" >&times;</a>
        
        <h2 class="text-2xl color-5 font-semibold mb-4 color-1">Editar Produto</h2>
        <form method="post" action="{%url 'editar_produto' %}">
            {% csrf_token %}
            
            <div class="mb-4">
                <label for="nome" class="block text-color-4 text-sm font-semibold mb-2">Nome do Produto</label>
                <input type="text" id="nomeProduto" name="nome" required
                    class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
            </div>


            <div class="flex space-x-4">
                <!-- Campo de Quantidade -->
                <div class="w-1/2">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quantidade</label>
                    <input type="number" id="quantidadeProduto" name="quantidade" required step="1"
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
            
                <!-- Campo de Tipo de Quantidade -->
                <div class="w-1/2">
                    <label for="tipo_quantidade" class="block text-color-4 text-sm font-semibold mb-2">Tipo de Quantidade</label>
                    <select id="tipo_quantidade" name="tipo_quantidade" required
                            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">

                        <option value="UN">Unidade</option>
                        <option value="L">Litro</option>
                        <option value="KG">Quilograma</option>
                        <option value="G">Grama</option>
                        <option value="PCT">Pacote</option>
                    </select>
                </div>
            </div>
            

     
          
            
            <div class="flex space-x-4" style="margin: 5px;">
                <div class="mb-4">
                    <label for="Validade" class="block text-color-4 text-sm font-semibold mb-2">Validade</label>
                    <input type="date" min="{{ today|date:'Y-m-d' }}"  id="validadeEdit" name="validade" 
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
                <div class="w-1/2">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quantidade min em estoque</label>
                    <input type="number" id="estoqueMin" name="estoque_min" 
                        class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                </div>
    
            </div>

            <div class="flex space-x-4" style="margin: 5px;">
                <input type="hidden" name="produto_id" id="produtoId">
               
                <!-- Categoria -->
                <div class="w-1/2">
                    <label for="Categoria" class="block text-color-4 text-sm font-semibold mb-2">Categoria</label>
                    <div class="flex items-center space-x-2">
                        <select id="Categoria" name="Categoria" required
                                class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-color-1">
                            {%for categoria in categorias %}
                            <option value="{{categoria.id}}">{{categoria.nome}}</option>
                            {% endfor %}
                        </select>
                       
                    </div>
                </div>
            </div>
            
            <button type="submit"
                class="w-full bg-color-1 text-color-3 p-3 rounded-lg hover:bg-opacity-90 transition-all">
                </i> Salvar
            </button>
        </form>
    </div>
</div>


<div id="ModalProdutoConsulta" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50">
    <div class="max-w-lg mx-auto bg-color-3 rounded-lg shadow-lg p-6 relative">
        <a id="closeModalBtnViewProdut" class="absolute top-3 right-3 text-color-4 text-xl" >&times;</a>
        
        <h2 class="text-2xl color-5 font-semibold mb-4 color-1">Visualizar Produto</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="flex space-x-4">

                <div class="w-1/2">
                    <label for="nome" class="block text-color-4 text-sm font-semibold mb-2">Nome do Produto</label>
                    <span id="nomeProdutoview"></span>
                </div>

                <div class="w-1/2">
                    <label for="nome" class="block text-color-4 text-sm font-semibold mb-2">Ultimo Mov.</label>
                    <span id="ultimoMov"></span>
                </div>
            </div>

            <div class="flex space-x-4">
                <div class="w-1/2">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quantidade</label>
                     <span id="quantidadeProdutoview"></span> - <span id="tipo_quantidadeview"></span>
                </div>
                <div class="w-1/2">
                    <label for="Validade" class="block text-color-4 text-sm font-semibold mb-2">Validade</label>
                        <span id="validadeEditview"></span>
                </div>
               
            </div>

            <div class="flex space-x-4" >
                

                <div class="w-1/2">
                    <label for="quantidade" class="block text-color-4 text-sm font-semibold mb-2">Quant. min em estoque</label>
                        <span id="estoqueMinview"></span>
                </div>
                <div class="w-1/2">
                    <label for="Categoria" class="block text-color-4 text-sm font-semibold mb-2">Categoria</label>
                    <div class="flex items-center space-x-2">
                        <span id="categoriaview"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>




<form id="delete-form-produto" method="post" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="produto_id" id="produto-id">
</form>

<script>
   function confirmarExclusao(produtoId) {
        if (confirm(`Tem certeza que deseja excluir o produto?`)) {
            const form = document.getElementById('delete-form-produto');
            document.getElementById('produto-id').value = produtoId;
            form.action = `/produtos_excluir/${produtoId}/`;
            form.submit();
        }
    }

    function abrirModalProdutoConsulta( nome, quantidade, tipo_quantidade, validade, categoriaId, estoqueminimo, ultimoMovimentodata, ultimoMovimentotipo) {
        const modal = document.getElementById('ModalProdutoConsulta');
        const nomeField = document.getElementById('nomeProdutoview');
        const quantidadeField = document.getElementById('quantidadeProdutoview');
        const tipo_quantidadeField = document.getElementById('tipo_quantidadeview');
        const validadeField = document.getElementById('validadeEditview');
        const categoria = document.getElementById('categoriaview');
        const estoquemin = document.getElementById('estoqueMinview');
        const ultimomov = document.getElementById('ultimoMov');
        console.log(validade)
        ultimomov.textContent = ultimoMovimentodata
        categoria.textContent = categoriaId
        validadeField.textContent = validade
        nomeField.textContent = nome;
        quantidadeField.textContent = quantidade;
        tipo_quantidadeField.textContent = tipo_quantidade;
        estoquemin.textContent = estoqueminimo;
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }

    // Função que abre o modal e preenche com os dados do produto
    function abrirModalEditarProduto( produto_id, nome, quantidade, tipo_quantidade, validade, categoria_id, estoqueminimo) {
        const modal = document.getElementById('productModalEdit');
        const nomeField = document.getElementById('nomeProduto');
        const produto_idField = document.getElementById('produtoId');
        const quantidadeField = document.getElementById('quantidadeProduto');
        const tipo_quantidadeField = document.getElementById('tipo_quantidade');
        const validadeField = document.getElementById('validadeEdit');
        const categoria_idField = document.getElementById('Categoria');

        const estoquemin = document.getElementById('estoqueMin');
        // Preenche os campos do modal com os valores passados
        console.log(estoqueminimo);
        nomeField.value = nome;
        quantidadeField.value = quantidade;
        produto_idField.value = produto_id;
        for (let i = 0; i < tipo_quantidadeField.options.length; i++) {
            if (tipo_quantidadeField.options[i].value === tipo_quantidade) {
                tipo_quantidadeField.options[i].selected = true;
                break;
            }
        }
       
        estoquemin.value = estoqueminimo;
        modal.classList.remove('hidden');
        modal.classList.add('flex');
    }

    // Fecha o modal ao clicar no botão de fechar
    document.getElementById('closeModalBtnEditProdut').addEventListener('click', () => {
        const modal = document.getElementById('productModalEdit');
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    });
    document.getElementById('closeModalBtnViewProdut').addEventListener('click', () => {
        const modal = document.getElementById('ModalProdutoConsulta');
        modal.classList.add('hidden');
        modal.classList.remove('flex');
    });
    // Fecha o modal ao clicar fora do conteúdo
    window.addEventListener('click', (e) => {
        const modal = document.getElementById('productModalEdit');
        if (e.target === modal) {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    });
    window.addEventListener('click', (e) => {
        const modal = document.getElementById('ModalProdutoConsulta');
        if (e.target === modal) {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    });


    function abreModalAddMovimento(nomeProduto, produtoId, quantidade){
    const modal = document.getElementById('productModalMovimento');
    modal.classList.remove('hidden');
    modal.classList.add('flex');
            // Fecha o modal ao clicar fora do conteúdo
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.classList.add('hidden');
                modal.classList.remove('flex');
            }
        });

        const nomeProdutoField = document.getElementById('nomeProdutoMovimento');
        nomeProdutoField.innerText = nomeProduto;
        const produtoid = document.getElementById('produto_id');
        produtoid.value = produtoId;
        
        const quant = document.getElementById('quantidade');
        quant.value = quantidade;

       
        

   
    }
    function fechaModalMovimento() {
        const modal = document.getElementById('productModalMovimento');
        modal.classList.remove('flex');
        modal.classList.add('hidden');
    }



    
</script>
<script>
        const driver = window.driver.js.driver;

const driverObj = driver({
    showProgress: true,
    steps: [

        {element: "#input-busca-produto",popover: {title: "Filtro de busca",description: " Digite o nome do produto ou o codigo de barras para encontra-lo"}},
        {element: "#drop-categoria-busca",popover: {title: "Filtro",description: "Filtre por categoria para encontrar o produto desejado"}},
        {element: "#botao-movimento-estoque-lote",popover: {title: "Movimento de estoque em lote",description: "Movimenta o estoque de varios produtos de uma vez, ou uma unica vez"}},
        {element: "#botao-edita-produto",popover: {title: "Editar produto",description: "Atenção isso apenas edita e para uma experiencia melhor caso queira dar entrada ou saida em produtos utilize o botão de movimento ", style:{backgroundColor: "red", color: "white"}}},
        {element: "#botao-excluir-produto",popover: {title: "Excluir Produto ",description: "Voce exclui o produto selecionado"}},

        
    ]
});
driverObj.drive();
</script>